#container {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  color: #5E548E;
  //transform: translateY(-50%);
}

ion-content.background{
  --background:url("back_char.jpg") ;//no-repeat 100% 100%
  background-position: center center;
}

.item-native{
  background:transparent;
}

.character{
  text-align: center;
}

.char{
  margin:auto;
  align-items: center;
  text-align: center;
}

.postavy{
  //background-color: black;
  margin-top: 1%;
  padding-bottom: 1.5rem;
  padding-top: 1rem;
}

.delete{
  margin-left: auto;
  margin-bottom: 3%;
}

.button{
  color: #231942;
  --ion-color-primary:#9F86C0;
  margin-top: 1rem;
}
