.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  /* Mark the active step: */
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #04AA6D;
  }

 .x{
    padding:1%;
    //align-items: center;
  }

  .col{
    display: flex;
    flex-wrap: wrap; 
  }

  .col2{
    margin-left: auto;
    padding-right: 5%;
    text-align: center;
    width: 45%;
  }

  .col1{
    margin-right: auto;
    padding-left: 5%;
    text-align: center;
    width: 45%;
  }
  ion-radio.radio{
    padding:2%;
  }

  .name{
    align-items: center;
  }